[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Display
Comment=launch resolution on login
Exec=/usr/bin/xfce4-display-settings
Icon=steam
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
